---
const {title} =Astro.props;
---

<div class="Init-Section">
  <h2>{title}</h2>
</div>

<style>
  .Init-Section {
    text-align: center;
    margin: 50px auto;
  }

  .Init-Section h2 {
    background: var(--gradient-brand);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(29px, 5vw, 50px);
    font-weight: 500;
    margin-top: 20px;
  }
</style>
