<div class="menu">
  <div class="logo">
    <img src="LogoOficial.avif" alt="Logo de la empresa" />
    <h1>STORM</h1>
  </div>
  <nav class="nav-links">
    <a href="#">Inicio</a>
    <a href="#">Servicios</a>
    <a href="#">Proyectos</a>
    <a href="#">Nosotros</a>
    <a href="#">Contacto</a>
  </nav>
  <button class="contact-btn">Solicitar Diagnóstico</button>
</div>

<style>
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px;
    margin: 20px 30px;
    border: 1px solid #00000011;
    border-radius: 25px;
  }

  h1 {
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 25px;
    margin-right: 10px;
  }
  .nav-links a {
    font-size: 15px;
    margin: 0 15px;
    color: var(--color-secondary-transparent);
    text-decoration: none;
  }
  .contact-btn {
    font-size: 15px;
    padding: 10px 20px;
    color: var(--color-white);
    background-image: var(--gradient-brand);
    border: none;
    border-radius: 15px;
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    button.contact-btn {
      display: none;
    }

    .logo {
     margin: auto;
    }
  }
</style>
