---

---

<div class="Coti">
  <h3>¿Tu tecnología está impulsando tu negocio o frenándolo?</h3>
  <p>
    Descubre oportunidades para mejorar la seguridad, productividad y presencia
    digital de tu empresa.
  </p>
  <button>Solicitar Diagnóstico</button>
</div>

<style>
  .Coti {
    padding: 30px 100px;
    background-image: var(--gradient-brand);
    border-radius: 25px;
    color: #fff;
    text-align: center;
    max-width: 700px;
    margin:6rem auto;
    box-shadow: 2px 2px 20px 15px #00000022;
  }
  h3 {
    font-size: clamp(33px,5vw,47px);
    font-weight: 500;
     margin: 2rem 0rem 2rem;
  }
  p{
    
    font-size: 18px;
    color: #ffffffc4;
   
  }

  button{
    margin: 1rem 0rem;
    padding: 15px 25px;
    color: var( --color-primary);
    border: none;
    border-radius: 15px;
    font-size: 16px;
    background: #fff;
  }

    @media (max-width: 768px) {
 .Coti {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    margin: 0rem .8rem;
  }
    }
</style>
