---
import CardWeb from "../components/Portafolio-web/Card-Web.astro";
import InitSection from "../components/Init-Section.astro";

const Pages = [
   {
    title: "Reina Sabinas 2026",
    category: "BELLEZA",

    link: "https://reinasabinas.netlify.app/",
  },
  {
    title: "Techno Electric",
    category: "INDUSTRIAL",

    link: "https://technoelectric.netlify.app/",
  },
  {
    title: "MR Boneless",
    category: "RESTAURANTE",

    link: "https://mrbonneles.netlify.app/",
  },
  {
    title: "Reyes del Ring",
    category: "ENTRETENIMIENTO",

    link: "https://reyesdelring.netlify.app/",
  },
  {
    title: "Mapple Waffles",
    category: "GASTRONOMIA",

    link: "https://maplewaffles.netlify.app/",
  }, {
    title: "Hoco Strawberries",
    category: "GASTRONOMIA",

    link: "https://hoco-strawberries.netlify.app/",
  },
];
---

<div class="Portafolio">
  <InitSection
  Section="PORTAFOLIO",
  title="Resultados que hablan por sí solos"
  
  />

  <div class="Cards">
    {
      Pages.map((link) => (
        <CardWeb title={link.title} category={link.category} link={link.link} />
      ))
    }
  </div>
</div>

<style>
  .Cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    max-width: 1200px;
    padding: 0px 15px;
    justify-content: center;
     
  }

  .Portafolio{
 margin: 10rem 0rem ;
  }
 @media (max-width: 400px) {
 .Cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));}


 }
 
</style>
