<div class="Relaciones">
  <div class="conjunt-1">
    <h3>Construimos relaciones duraderas</h3>
    <p>
      Nuestro compromiso no termina al entregar. Acompañamos, documentamos y
      mejoramos cada solución.
    </p>
  </div>
  <div class="conjunt">
    <ul>
      <li>➜ Atención profesional</li>
      <li>➜ Soluciones documentadas</li>
      <li>➜ Seguimiento continuo</li>
      <li>➜ Buenas prácticas tecnológicas</li>
      <li>➜ Compromiso con resultados</li>
    </ul>
  </div>
</div>

<style>
  .Relaciones {
    padding: 50px 0px;
    background: #00000007;
    border-radius: 25px;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 8rem 0rem ;
  }

  .conjunt-1 {
    max-width: 500px;
  }
  h3 {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 38px;
    margin: 0rem 0rem;
  }

  p {
    color: var(--color-text);
    line-height: 1.5rem;
    font-size: 17px;
  }

  ul li{
    color:var(--color-text);
    line-height: 2.3rem;
  }
  ul{
    list-style: none;
    padding: ;
  }

    @media (max-width: 768px) {
        .Relaciones {
    padding: 50px 20px;
   
    gap: 1rem;
    margin: 9rem 1.5rem;
    justify-content: left;
    
  }
  ul{
    list-style: none;
    padding:0rem 0rem ;
  }
  p {
   margin: 1rem 0rem 0rem ;
  }

    }
</style>
